bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs
/.vs
/.vs
.vs/OrderShippingExample/CopilotIndices/17.13.444.19527/CodeChunks.db
.vs/OrderShippingExample/CopilotIndices/17.13.444.19527/SemanticSymbols.db
.vs/OrderShippingExample/DesignTimeBuild/.dtbcache.v2
.vs/OrderShippingExample/v17/.futdcache.v2
.vs/OrderShippingExample/v17/.suo
.vs/OrderShippingExample/v17/DocumentLayout.backup.json
.vs/OrderShippingExample/v17/DocumentLayout.json
.vs/ProjectEvaluation/ordershippingexample.metadata.v9.bin
.vs/ProjectEvaluation/ordershippingexample.projects.v9.bin
.vs/ProjectEvaluation/ordershippingexample.strings.v9.bin
/.vs
